<!DOCTYPE html>
<html>
<head>
    <title>Visualization Tool</title>
    <meta charset="utf-8">
    <meta name="author" content="José Septién @ LaViRIA">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'visAnalytics/style.css' %}">
</head>
<body>
    <header class="va">
        <h1>Visual Analyzer</h1>
    </header>
    <form method="POST" action="/" class="form-main">
        <!-- Navigation -->
        <div>
            <!-- For the databases ______________________________________________________________________________________________________-->
            <abbr title="List of databases currently on the server. If you want to upload a new one, use the button.">
                <label for="databases" class="label">Databases</label>
            </abbr>
            <select class="selecting" name="databases-list" id="databases" autofocus="autofocus">
                <option value="none" selected="selected">&nbsp;</option>
                <option value="processed.cleveland">Ambient data</option>
                <!-- Fill fields on the server -->
            </select>

            <!-- Dropdown list for selecting the graphs _________________________________________________________________________________-->
            <abbr title="Graphs for visually analysing the datasets.">
                <label for="graphs" class="label">Plots</label>
            </abbr>
            <select class="selecting" name="plots-list" id="graphs" >
                <option value="none" selected="selected">&nbsp;</option>
                <option value="pCoord">Parallel Coordinates</option>
                <option value="histogram">Histogram</option>
                <option value="gauge">Gauge</option>
                <option value="lineplot">LinePlot</option>
                <option value="scatterplot">ScatterPlot</option>
                <option value="osciloscope">Osciloscope</option>
                <option value="pieplot">PiePlot</option>
                <!-- Fill fields on the server -->
            </select>

            <!-- Specifies the data mining methods available on the server ______________________________________________________________-->
            <abbr title="Authomatic techniques for analysing the datasets">
                <label for="methods" class="label">Data Mining</label>
            </abbr>
            <select class="selecting" name="dm" id="methods">
                <option value="none" selected="selected">&nbsp;</option>
                <option value="pca">Principal Component Analysis</option>
                <option value="kmeans">K-Means</option>
                <option value="GWR">Grow When Required</option>
                <!-- Fill values on the server-->
            </select>

            <!-- For uploading the database -->
            <input type="button" class="dbbutton" name="uploadDB" value="Upload DB" id="upDB">
        </div>

        <!-- Main part of the body -->
        <main class="plots" name="graphs" id="main">
        </main>

        <!-- Footer -->
        <footer></footer>
    </form>

    <!-- Scripts -->
    {% load static %}
    <script type="text/javascript" src="{% static 'visAnalytics/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'visAnalytics/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'visAnalytics/jsPlots/histogram.js' %}"></script>
    <script type="text/javascript" src="{% static 'visAnalytics/jsPlots/parallelcoordinates.js' %}"></script>
    <script class="plotsMainScript" type="text/javascript" src="{% static 'visAnalytics/script.js' %}"></script>
</body>
</html>
